@import "vanilla-framework";
@include vanilla;

$separation: 0.5rem;
$shadow: 0px 6px 15px -6px rgba(0, 0, 0, 0.53);

#data {
  padding: $separation;
}

li {
  -webkit-box-shadow: $shadow;
  box-shadow: $shadow;
}

.firstHr {
  margin-bottom: $separation;
}
